body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Header */
.header {
    background: #111;
    color: #fff;
    padding: 15px 0;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 60px;
    margin-right: 10px;
}

.logo-box {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

.btn {
    background: gold;
    padding: 8px 15px;
    border-radius: 5px;
    color: black !important;
    font-weight: bold;
}

/* Hero */
.hero {
    padding: 40px 0;
    background: white;
}

.hero-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img img {
    width: 350px;
    border-radius: 10px;
}

.section {
    margin: 40px 0;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 30%;
}

/* Gallery */
.grid {
    display: flex;
    gap: 15px;
}

.grid img {
    width: 33%;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
    margin-top: 40px;
}
